  #skill {
        width: 100%;
        height:110vh;
        padding: 8rem $p;
      
        >h2 {
          font: 700 2.5rem $text2;
          width: fit-content;
          border-bottom: 1px solid $color6_1;
          padding: 0.5rem;
          margin: auto;
        }
        >Wrapper {
          >Marquee{
            background-color: aqua;
            >MarqueeGroup{
               background-color: aqua;
            }
          }
        } 
  }

  #txt{
    margin: 50px;
    // background-color: green;
  }

  